<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://angelwalk.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>angelwalk.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>angelwalk</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$angelwalk</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="restaurantEntities1" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:rcafk9d66g.database.windows.net,1433;Initial Catalog=angelwalk_db;User ID=nikunj@rcafk9d66g;Password=Het@jiyu" Name="Data Source=tcp:rcafk9d66g.database.windows.net,1433;Initial Catalog=angelwalk_db;User Id=nikunj@rcafk9d66g;Password=Het@jiyu" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="COMP2007__Food_Order_System.restaurantEntities1, COMP2007- Food Order System" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="restaurantEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:rcafk9d66g.database.windows.net,1433;Initial Catalog=angelwalk_db;User ID=nikunj@rcafk9d66g;Password=Het@jiyu" Name="Data Source=tcp:rcafk9d66g.database.windows.net,1433;Initial Catalog=angelwalk_db;User Id=nikunj@rcafk9d66g;Password=Het@jiyu" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=au9cr0woqr.database.windows.net;Initial Catalog=restaurant;User ID=nikunj;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\restaurantEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Order_model.csdl|res://*/Order_model.ssdl|res://*/Order_model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=au9cr0woqr.database.windows.net;initial catalog=restaurant;user id=nikunj;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:rcafk9d66g.database.windows.net,1433;Initial Catalog=angelwalk_db;User ID=nikunj@rcafk9d66g;Password=Het@jiyu" Name="Data Source=tcp:rcafk9d66g.database.windows.net,1433;Initial Catalog=angelwalk_db;User Id=nikunj@rcafk9d66g;Password=Het@jiyu" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\ProjectsV12;Initial Catalog=Identity;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\ProjectsV12;Initial Catalog=Identity;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="RestaurantEF" Order="4" Enabled="False">
          <Destination Path="Data Source=tcp:rcafk9d66g.database.windows.net,1433;Initial Catalog=angelwalk_db;User ID=nikunj@rcafk9d66g;Password=Het@jiyu" Name="Data Source=tcp:rcafk9d66g.database.windows.net,1433;Initial Catalog=angelwalk_db;User Id=nikunj@rcafk9d66g;Password=Het@jiyu" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=au9cr0woqr.database.windows.net;Initial Catalog=restaurant;User ID=nikunj;Password=Het@jiyu;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\RestaurantEF_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Order_model.csdl|res://*/Order_model.ssdl|res://*/Order_model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=au9cr0woqr.database.windows.net;initial catalog=restaurant;user id=nikunj;password=Het@jiyu;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="restaurant" Order="5" Enabled="False">
          <Destination Path="Data Source=tcp:rcafk9d66g.database.windows.net,1433;Initial Catalog=angelwalk_db;User ID=nikunj@rcafk9d66g;Password=Het@jiyu" Name="Data Source=tcp:rcafk9d66g.database.windows.net,1433;Initial Catalog=angelwalk_db;User Id=nikunj@rcafk9d66g;Password=Het@jiyu" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=au9cr0woqr.database.windows.net;Initial Catalog=restaurant;Persist Security Info=True;User ID=nikunj;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\restaurant_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Order_model.csdl|res://*/Order_model.ssdl|res://*/Order_model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=au9cr0woqr.database.windows.net;initial catalog=restaurant;persist security info=True;user id=nikunj;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:rcafk9d66g.database.windows.net,1433;Initial Catalog=angelwalk_db;User Id=nikunj@rcafk9d66g;Password=Het@jiyu</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)restaurant-Web.config Connection String">
      <ParameterValue>metadata=res://*/Order_model.csdl|res://*/Order_model.ssdl|res://*/Order_model.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:rcafk9d66g.database.windows.net,1433;initial catalog=angelwalk_db;user id=nikunj@rcafk9d66g;password=Het@jiyu;MultipleActiveResultSets=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RestaurantEF-Web.config Connection String">
      <ParameterValue>metadata=res://*/Order_model.csdl|res://*/Order_model.ssdl|res://*/Order_model.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:rcafk9d66g.database.windows.net,1433;initial catalog=angelwalk_db;user id=nikunj@rcafk9d66g;password=Het@jiyu;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)restaurantEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Order_model.csdl|res://*/Order_model.ssdl|res://*/Order_model.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:rcafk9d66g.database.windows.net,1433;initial catalog=angelwalk_db;user id=nikunj@rcafk9d66g;password=Het@jiyu;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)restaurantEntities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/Order_model.csdl|res://*/Order_model.ssdl|res://*/Order_model.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:rcafk9d66g.database.windows.net,1433;Initial Catalog=angelwalk_db;User Id=nikunj@rcafk9d66g;Password=Het@jiyu"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>